@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 220 13% 18%;
    --foreground: 210 11% 96%;

    --card: 220 13% 15%;
    --card-foreground: 210 11% 96%;

    --popover: 220 13% 15%;
    --popover-foreground: 210 11% 96%;

    --primary: 235 86% 65%;
    --primary-foreground: 210 11% 96%;

    --secondary: 220 9% 23%;
    --secondary-foreground: 210 11% 96%;

    --muted: 220 9% 23%;
    --muted-foreground: 215 9% 61%;

    --accent: 235 86% 65%;
    --accent-foreground: 210 11% 96%;

    --destructive: 0 63% 50%;
    --destructive-foreground: 210 11% 96%;

    --border: 220 9% 28%;
    --input: 220 9% 28%;
    --ring: 235 86% 65%;

    --radius: 0.5rem;

    --server-sidebar: 223 7% 15%;
    --channel-sidebar: 220 7% 17%;
    --chat-background: 220 13% 18%;
    
    --hover-bg: 220 9% 23%;
    --active-channel: 220 9% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
